<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Servlet_01</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>example1</servlet-name>
    <servlet-class>edu.kh.servlet.controller.ExampleServlet_01</servlet-class>
  </servlet>
  
  <servlet-mapping>
  
    <servlet-name>example1</servlet-name>
    <url-pattern>/ex1</url-pattern>
    
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>Servlet_Practice01</display-name>
    <servlet-name>Servlet_Practice01</servlet-name>
    <servlet-class>practice01.servlet.Servlet_Practice01</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Servlet_Practice01</servlet-name>
    <url-pattern>/Servlet_Practice01</url-pattern>
  </servlet-mapping>
</web-app>